@model EgitimWeb.Entites.Egitim

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Sil</h1>

<h3>Emin Misiniz?</h3>
<div>
    <h4>Egitim</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.resimYolu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.resimYolu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.soruSayisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.soruSayisi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
